logs/
heckenlights-backend/target/
heckenlights-backend/application.properties
heckenlights-backend/rules.xml
*.iml
atlassian-ide-plugin.xml
settings-override.php
node_modules/
archive.zip

*.html.de
*.html.en
heckenlights-messagebox/target
heckenlights-messagebox/application.properties
