heckenlights-backend/logs
heckenlights-backend/target
heckenlights-backend/rules.xml
*.iml
atlassian-ide-plugin.xml
settings-override.php
heckenlights-frontend/node_modules
archive.zip
application.properties
*.html.de
*.html.en
