<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /~mark/heckenlights/
RewriteRule api/v1/(.*)$ app/dispatcher.php [QSA,NC,L]
</IfModule>